@use 'scss/normalize';

@font-face {
  font-display: swap;
  font-family: 'PressStart2P';
  font-weight: 400;
  src: url('/fonts/PressStart2P-Regular.woff2') format('woff2');
}

:root {
  --content-width: 53rem;
  --light-green: hsl(106, 71%, 94%);
  --dark-green: hsl(102, 82%, 7%);
  --lime-green: hsl(106, 93%, 63%);
}

h1,
h2,
h3,
h4 {
  font-family: PressStart2P, sans-serif;
  line-height: 1.15;
  font-weight: 400;
}

h2 {
  margin-top: 2.5rem;
}

p {
  font-family: Avenir, sans-serif;
  font-size: clamp(1rem, 1.5vw, 1.25rem);

  a {
    color: var(--lime-green);
  }
}

body {
  color: var(--light-green);
  background-color: var(--dark-green);
}

.header {
  margin: 0 auto;
  max-width: var(--content-width);
  text-align: center;
  margin-bottom: 5rem;
}

.nav {
  margin: 2rem auto;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
    align-items: center;
  }

  a {
    font-family: PressStart2P, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--light-green);
    text-decoration: none;
  }

  .trail-link {
    font-size: 1.5rem;
  }
}

.main {
  margin: 0 auto;
  max-width: var(--content-width);
  padding: 0 0.5rem;
}

@media screen and (min-width: 53rem) {
  .main {
    padding: 0;
  }
}
